@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";     /* theme name */
  default: true;     /* make it the default theme */
  --color-primary: #FF582B;
  --color-primary-content: #ffffff;  /* text on primary */
  
  --color-secondary: #000C7A;
  --color-secondary-content: #ffffff;
  
  --color-accent: #3BA9FF;
  --color-accent-content: #ffffff;

  --color-neutral: #fff;
  --color-neutral-content: #fff;
  

 
}

:root {
  /* fallback CSS variables */
  --primary: #FF582B;
  --secondary: #000C7A;
  --neutral: #FFFFFF;
}

body {
  
}

.hero {
    background: linear-gradient(45deg, rgba(0,0,0, 0.7), transparent),  url('/hero-bg.jpg'); /* replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}